body, html {
	margin: 0px;
	height: 100%;
	background-color: #232323;
	font-family: "Avenir", "Montserrat";
}

@media only screen and (max-width: ) {

}

canvas {
	width: 100%;
	height: 94%;
}


#descme {
	background-color: white;	
	color: steelblue;
	width: 20%;
	display: block;
	font-weight: 900;
	border-radius: 20px;
	text-align: center;
	padding: 10px;
}

#tryme {
	display: block; 	
	margin: 0 auto;
	text-align: center;
	color: black;
	background-color: white;
	border-radius: 20px;
	font-weight: 900;
	font-size: 25px; 
	width: 40%;
}