body, html {
	margin: 0px;
	height: 100%;
	background-color: #232323;
	font-family: "Avenir", "Montserrat";
}

@media only screen and (max-width: 400px) {
	#header {
		font-size: 15px;
	}
}

canvas {
	width: 100%;
	height: calc(100% - 50px);
}

#header {
	text-align: center; 
	font-size: 20px; 
	color: white;
}

#myInfo {
	position: fixed;
	bottom: 0px;
	right: 0px;
}